<div class="reward-container">
  <div>{{ __('reward.comment') }}</div>
  <button>
    {{ __('reward.donate') }}
  </button>
  <div class="post-reward">

    {%- for name, value in theme.reward %}
      {%- set builtin = ['wechatpay', 'alipay', 'paypal', 'okx', 'xmr'] %}
      {%- if builtin.includes(name) %}
        {%- set translation = __('reward.' + name) %}  {# 内置支付方式走翻译 #}
        {%- set image = url_for(value) %}              {# 图片路径 #}
      {%- else %}
        {%- set translation = value %}                 {# 自定义支付方式直接显示 YAML 内容 #}
        {%- set image = '/images/' + name + '.jpg' %}  {# 对应图片路径，可自行修改 #}
      {%- endif %}
      <div>
        <img src="{{ image }}" alt="{{ author }} {{ translation }}">
        <span>{{ translation }}</span>
      </div>
    {%- endfor %}

  </div>
</div>
