<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {{ partial('_partials/head/head.njk', {}, {cache: theme.cache.enable}) }}
  {%- include '_partials/head/head-unique.njk' -%}
  <title>{% block title %}{% endblock %}</title>
  {{ partial('_third-party/analytics/index.njk', {}, {cache: theme.cache.enable}) }}
  {{- next_inject('head') }}
  <noscript>
    <link rel="stylesheet" href="{{ url_for(theme.css) }}/noscript.css">
  </noscript>
  <style>
    .ad {
      position: fixed;
      top: 0px;
      right: 0px;
      width: auto;
      background-color: #fff;
      display: flex;
      align-items: flex-end;
      justify-content: right;
      margin: 0 auto;
    }
    .ad p, .ad a {
      margin: 0;
      border: 0;
      padding: 0;
      line-height: 1rem;
    }

    .notice {
      width: auto;
      background-color: #fff;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 0 auto;
    }
    .notice p, .notice a {
      margin: 0;
      border: 0;
      padding: 0;
      line-height: 1rem;
    }
  </style>
</head>

<body itemscope itemtype="http://schema.org/WebPage"{% if theme.motion.enable %} class="use-motion"{% endif %}>
  <div class="headband"></div>

  {# 右上角广告 #}
  <div class="ad">
    <p>本站由</p>
    <a href="https://www.ygeit.com/"><img alt="昱格，科技智能服务商" src="images/ygeit.png" width="25" height="17" /></a>
    <a href="https://www.lizigo.cn/"><img alt="粒子GO，开放式自助游戏服务器，全程便捷式网页操
作，自动安装游戏服务端，专为服主精心打
造，让您轻松创建和管理游戏服务器。" src="images/lizigo.png" width="25" height="25" /></a>
    <p>提供支持</p>
  </div>

  {# 置顶居中公告 #}
  <div class="notice">
    <p>点击图标直达本站网盘-></p>
    <a href="https://disk.ygeit.cn/s/RpAtcoJcbpYtaoa"><img alt="hackerbs's netdisk" src="images/favicon-16x16-next.png" /></a>
  </div>

  <main class="main">
    <div class="column">
      <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        {%- include '_partials/header/index.njk' -%}
      </header>
      {%- if theme.sidebar.display !== 'remove' %}
        {% block sidebar %}{% endblock %}
      {%- endif %}
    </div>

    <div class="main-inner {% block class %}{% endblock %}">
      {%- include '_partials/header/sub-menu.njk' -%}
      {% block content %}{% endblock %}
      {%- include '_partials/comments.njk' -%}
    </div>
  </main>

  <footer class="footer">
    <div class="footer-inner">
      {%- include '_partials/languages.njk' -%}
      {{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
    </div>
  </footer>

  {{ partial('_partials/widgets.njk', {}, {cache: theme.cache.enable}) }}

  {{ partial('_scripts/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/statistics/index.njk', {}, {cache: theme.cache.enable}) }}

  {%- include '_third-party/math/index.njk' -%}
  {%- include '_third-party/quicklink.njk' -%}

  {{- next_inject('bodyEnd') }}
</body>
</html>
